/* Definition List Inline
###########################################################################  */

.dl-inline{
  dt{
    display: inline;
    font-weight: var(--fw-bold);

    &::after{
      content: ":";
    }

    &::before{
      content: "";
      height: var(--fluid-space-s);
      display: block;
    }
  }

  dd{
    display: inline;
    padding-bottom: var(--fluid-space-s);
  }
}