/* Panel
###########################################################################  */

.panel{
  h4{
    margin-bottom: var(--half);

    .begin{
      font-weight: var(--fw-normal);
      display: block;
      padding-bottom: var(--quad);
    }
  }
  
  &-header{
    p{
      font-weight: var(--fw-bold);
      color: var(--color-accent);
    }
  }
}