/* Speaker
###########################################################################  */

.speaker{

  &-from{
    color: var(--darker);
    margin-top: calc(var(--fluid-space-s) * -0.8) !important;
  }

  & + & {
    margin-top: var(--fluid-space-xl);
  }

  .talk{
    h3{
      font-weight: var(--fw-medium);
      padding-top: var(--fluid-space-s);
      line-height: var(--lh-normal);
    }
  }
}