/* Schedule
###########################################################################  */

.schedule{
  th{
    min-width: 12rem;
    text-align: left;
    vertical-align: top;
    font-weight: var(--fw-normal);
  }

  th p,
  td p{
    margin-bottom: 0;
  }

  th p + p,
  td p + p{
    margin-top: var(--half);
  }

  td{
    padding-bottom: var(--xs);
  }
}